body {
  background: linear-gradient(to right, pink 50%, green 50%);
}

header {
  text-align: center;
}
main {
  text-align: center;
}
footer {
  text-align: center;
}
ul {
  padding-left: 20px;
}
img {
  width: 10%;
}
